{
  "all": true,
  "include": [
    "app/**/*.js"
  ],
  "exclude": [
    "**/node_modules/**",
    "**/Exceptions/**",
    "**/app/Models/Hooks/**",
    "**/*.spec.js"
  ],
  "check-coverage": true,
  "report-dir": "./test/coverage",
  "temp-dir": "./test/.nyc_output",
  "lines": 85
}
